[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "static/resume"]
	path = static/resume
	url = https://gist.github.com/UtkarshMe/2afa981b9cc7cd25d36b41642ccb0225
